<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title><%= title %></title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<%= csrf_meta_tag %>
<%= stylesheet_link_tag 'styles' %>
</head>
<body>
<div id="container">
  <% unless controller.action_name == "home" %>
  <div id="navigation"><%= render 'layouts/navigation/logged_out' %></div>
  <% end %>
  <div id="logo"><%= @title %><%= image_tag "songofthemomentis.gif", :size => "370x45", :alt => @title+"songofthemoment.is" %></div>
	<%= yield %>
</div>  
</body>
</html>
	  