<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>Song of the Moment | <%= title %></title>
<%= csrf_meta_tag %>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<%= stylesheet_link_tag 'styles' %>
</head>
<body>
<div id="container">
  <% unless controller.action_name == "home" %>
  <div id="navigation"><a href="everybodys">Everybody's</a>&nbsp;|&nbsp;<a href="join">Join</a>&nbsp;|&nbsp;<a href="login">Login</a></div>
  <% end %>
  <div id="logo"><%= @title %><%= image_tag "songofthemomentis.gif", :size => "370x45", :alt => @title+"songofthemoment.is" %></div>
	<%= yield %>
</div>  
</body>
</html>
	  